<div class="divide-side d-flex w-100">
    <div class="left-side d-flex">
        <div class="nav-icon d-flex flex-column" style="width:70px; height:902px; background-color:#0D28A6">
            <div class="sidebar-logo">
                <p class="icon-sidebar" style="width:34px; height:34px; background-color:#CFD4ED"></p>
            </div>	
            <a href="/" class="items-sidebar-menu">
                <img src="images/icon_home.svg" alt="icon home" class="icon-sidebar-menu"> 
                <p style="margin: 0 2px;">Dashboard</p>
            </a>
            <a href="/list-cars" class="items-sidebar-menu-active">
                <img src="images/icon_truck.svg" alt="icon cars" class="icon-sidebar-menu">
                <p style="margin: 0 20px;">Cars</p>
            </a>
        </div>
        
        <div class="white-sidebar">
            <div class="top-sidebar">
                <p class="longer-logo"></p>
            </div>
            <div class="bottom-sidebar">
                <div class="title-main-menu">
                    <p>CARS</p>
                </div>
                <div class="title-main-sec">
                    <p>List Cars</p>
                </div>
            </div>
        </div>
    </div>